/* Default CSS */

.button_gh {
-webkit-box-sizing: initial;
-moz-box-sizing: initial;
box-sizing: initial;
}

.display_none{
	display: none;
}

.map_container{ }
#map { height: 550px; }

.container .jumbotron, .jumbotron{
	padding: 0;
}

.image_bio
{
	background-image: url('./../images/Ralph.png');
	background-size: 100% 100%;
	border-radius: 50%;
	display: block;
	margin: -1px;
	height: 100px;
	width: 100px;
}
	
.description_bio{
	width: 85%;
}

.float_left{
	float: left;
}

.float_right{
	float: right;
}